.results-table-student {
    height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
}

.results-table-student-cell {
    font-size: var(--font-size);
    font-weight: var(--font-weight-header);
}

.student-range-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    align-self: center;
    padding: 20px;
    border-radius: 20px;
    width: 25%;
    box-shadow: var(--main-box-shadow);
}