.payment-matrix-eplanation-task {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-direction: column;
}

.payment-matrix-eplanation-input {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    min-width: 800px;
    justify-content: space-between;
}

.paymaten-matrix-task {
    display: flex;
    height: 100%;
}