.main-layout {
    height: 100%;
    width: 100%;
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    content: "";
    padding: 1% 0 1%;
    height: calc(100vh - 64px);
}

.stepper {
    flex-shrink: 0;
    height: 30px;
    width: 90%;
}

.vector-theory-text {
    font-size: var(--font-size);
    /*font-weight: var(--font-weight-header);*/
}

.vector-theory-text-blue {
    color: #002aff;
}

.vector-theory-text-center {
    text-align: center;
}