.error {
    border: 1px solid red !important;
    background-color: rgba(255, 85, 106, 0.23) !important;
}

.input-value-vector-3 {
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--main-color);
    height: 30px;
    width: 150px;
    padding: 0 10px;
}

.vector-matrix-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.results-range-table {
    padding: 10px;
}

.results-range-page-table {
    padding: 10px;
}