:root {

    --font-size: 16px;
    --font-family: 'Roboto', 'sans-serif';
    --line-height: 18px;
    --big-font-size: 20px;

    --font-size-header: 18px;
    --font-weight-header: 600;

    --main-color: #333;
    --secondary-color: #a9a9a9;
    --alert-color: #ff556a;

    --link-font-weight: 400;
    --link-color: #1e97c1;

    --main-background-color: #ffffff;

    --main-box-shadow: 0px 1px 4px 1px rgba(88, 88, 88, 0.2);

    --divide-color: #aeaeae;

    --btn-default-color: #fff;
    --btn-default-box-shadow: 0px 1px 3px #bfbfbf;
    --btn-defalut-background-color: #44c7f4;
    --btn-default-border-radius: 5px;

}