.teacher-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1% 5% 1% 5%;
    overflow: auto;
    margin: auto;
}

.teacher-side {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    /*padding: 15px;*/
    gap: 20px;
}

.teacher-side-item {
    border: none !important;
    box-shadow: var(--main-box-shadow);
    height: 60px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white !important;
    width: 100%;
    color: var(--main-color) !important;
}

.teacherSideItemActive {
    background-color: #4a90e2 !important;
}

.teacher-side-item-text {
    border: none;
    font-size: var(--font-size);
    font-weight: var(--font-weight-header);
}

.teacher-table {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 0 15px;
}

.teacher-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.teacher-date > * > input {
    padding: 9.5px;
    /*width: 15%;*/
}

.teacher-search {
    padding: 0 15px;
    width: 50%;
    height: 40px;
    background-color: rgba(246, 246, 246, 0.93);
    border-radius: 5px;
    border: 1px solid #1e97c1;
    outline: none;
}

.teacher-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.teacher-table-cell {
    font-size: var(--font-size);
    font-weight: var(--font-weight-header);
}

.teacher-side-column {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.teacher-modal-results {
    width: 70vw;

}

.teacher-show-results {
    padding: 70px;
}