.task-2-1-input {
    width: 50px;
}

.error {
    border: 1px solid red !important;
    background-color: rgba(255, 85, 106, 0.23);
}

.task-2-1-input {
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--main-color);
    height: 30px;
    width: 100%;
    padding: 0 10px;
}

.table-task-2_2 {
    display: flex;
}

.table-head-cell {
    font-size: 18px !important;
    font-weight: 900 !important;
}

.table-cell {
    font-size: var(--font-size) !important;
    font-weight: 500 !important;
}